.space{
    flex: 1 1 auto;
}
.section{
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    min-height: 91.8vh;
}
.hand{
    cursor: pointer;
}

@media (max-width: 800px) {
    .section{
        max-width: 600px;
    }
}
