<mat-toolbar color="primary" class="animated bounceIn">
  <span [routerLink]="['/']" class="hand"> PlatziOverflow </span>
  <span class="space"></span>

  <button *ngIf="!userIsLoggedIn()" [routerLink]="['/signIn']" mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>


  <div *ngIf="userIsLoggedIn()">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <span>{{ fullName() }}</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>

<div class="section animated bounceInUp">

  <!-- <app-question-detail></app-question-detail> -->
  <!-- <app-singin-screen></app-singin-screen> -->
  <!-- <app-singup-screen></app-singup-screen> -->
  <!-- <app-question-list></app-question-list> -->
  <!-- <app-question-form></app-question-form> -->
  <router-outlet></router-outlet>

</div>
