<mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

<div *ngIf="!loading">

  <mat-list class="animated fadeInUp">
      <mat-list-item *ngFor="let question of questions" [routerLink]="['/questions', question._id]" class="pointer">
          <i *ngIf="question.icon === 'none'" mat-list-icon class="resize material-icons help">help</i>
          <i *ngIf="question.icon !== 'none'" mat-list-icon class="resize {{ question.icon }} colored"></i>
          <h3 mat-line>{{ question.title }}</h3>
          <p mat-line>
              <small> {{ question.answers.length }} respuestas - {{ question.createdAt | amLocale: 'es' | amTimeAgo }} </small>
          </p>
      </mat-list-item>
    <mat-list-item *ngIf="questions.length == 0">
      Ninguna pregunta, sé el primero en preguntar.
    </mat-list-item>
  </mat-list>

</div>
